[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=USER
WorkingDirectory=/home/USER/sites/superlists-DOMAIN
EnvironmentFile=/home/USER/sites/superlists-DOMAIN/.env

ExecStart=/home/USER/sites/superlists-DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/superlists-DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
